.hero_sec{
    background-image: url('11 (1).jpg');
}
nav{
margin-bottom: 320px;
}



.close_sec{
    
    background-color: yellow;
   margin-left: 976px;
   margin-top: 70px;
   font-family: Archangelsk;
font-size: 62px;
font-weight: 400;
line-height: 63.3px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
padding-top: 70px;
padding-left: 70px;
padding-right: 70px;

width: 484px;
height: 126px;
top: 701px;
left: 1046px;
gap: 0px;
opacity: 0px;

       
}